main {
  font-family: 'Outfit', sans-serif;
}

.carrinho {
  width: 100%;
  padding: 2rem 0 2rem 0;

  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
}

.carrinho svg {
  margin-left: 15px;
}

.linha-carrinho {
  background-color: #000;
  height: 1px;
  width: 100%;
}

.Formas-pagamento {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  margin-bottom: 1.5rem;
  border-bottom: 1px dashed black;
}

.formas-dentro {
  display: flex;
  align-items: center;

  margin-bottom: 1.25rem;
}

.formas-dentro h2 {
  color: #000000;

  font-weight: 500;
  font-size: 15pt;
}

.produtos-carrinho {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  text-align: left;
  font-family: inherit;

  width: 100%;
  
  margin-bottom: 1.2rem;
  border: none;
  border-bottom: 1px dashed black;
}

.produtos-carrinho-start {
  display: flex;
  flex-direction: column;
}

.infos-produto {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: left;

  margin-bottom: 1.75rem;
}

.infos-produto h2 {
  font-weight: 500;
  font-size: 14pt;
}

.infos-produto h3 {
  margin-top: 8px;
  font-weight: 500;
  font-size: 12pt;
}

.valor-produto {
  display: flex;
  align-items: center;

  margin-bottom: 1.25rem;
}

.valor-produto h2 {
  color: #124A15;

  font-weight: 500;
  font-size: 1.55rem;
}

.imagem-produto {
  margin-bottom: 1.25rem;
  width: 150px;
  height: 150px;

  background-position: 50%;
  background-size: cover;

  border: 2px solid #88C083;
}

.valor-pedido {
  margin-top: 1.25rem;
}

.valor-pedido h2 {
  font-weight: 400;
  font-size: 1.1669rem;

  margin-top: 0.55rem;
}

.valor-pedido div {
  display: flex;
  align-items: center;
}

h2 span, .valor-produto h2 {
  font-weight: 400;
}

.valor-produto h2 {
  font-size: 14pt;
}

.valor-pedido .valor_dinheiro {
  margin: 0 3px 0 4px;
}

#continuar {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 40px;
  width: 85%;
  max-width: 300px;
  margin: 5rem auto 0 auto;
  
  border: none;
  background-color: #236612;
  color: white;

  user-select: none;
}

#continuar span {
  margin-right: 10px;

  font-family: 'Outfit', sans-serif;
  font-weight: 300;
}
