.img-produto {
    width: 100%;
    height: 250px;
    margin: 25px 0 22px 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

main {
    max-width: 450px;
    margin-bottom: 15vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Outfit', sans-serif;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal-line {
    width: 80%;
    height: 1px;
    background-color: black;
}

h1 {
    font-size: 18pt;
    font-weight: 500;
    margin-bottom: 5px;
}

p {
    margin-bottom: 18px;
}

.info-produto {
    width: 80%;
    margin: 15px 0 10px 0;
}

.classificacao, .dinheiro {
    display: flex;
    align-items: center;
    margin: 5px 0 20px 0;
}

.classificacao span {
    color: #D79B00;
    font-weight: 500;
    margin-left: 7px;
}

.dinheiro span {
    color: #124A15;
    margin-right: 7px;
}

a {
    color: inherit;
    text-decoration: none;
}

#quantidade {
    display: flex;
    align-items: center;
    font-weight: 300;
    margin-top: 15px;
}

#quantidade span {
    margin-right: 10px;
}

#numero-quant {
    width: 20px;
    margin: 0 8px 0 8px;

    border: none;

    font-size: 12pt;
    font-family: 'Outfit', Arial;
    text-align: center;

    user-select: none;
}

#adicionar-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 40px;
    width: 200px;
    margin-top: 10px;
    
    border: none;
    background-color: #236612;
    color: white;

    font-weight: 300;

    user-select: none;
}

#adicionar-carrinho span {
    margin-right: 8px;
    font-family: 'Outfit', Arial;
    font-size: 14px;
}

.avaliar {
    font-size: 14px;
    margin: 15px 0 25px 0;
    background-color: inherit;
    color: inherit;
    border: none;
    font-family: inherit;
}

#remover {
    margin: 15px 0 25px 0;
    background-color: transparent;
    border: transparent;
    color: rgb(219, 0, 0);
    font: inherit;
    font-size: 11pt;
}